<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <!-- <li class="nav-tech" role="menuitem"><a href="{{site.baseurl}}tag/tech/">Tech</a></li> -->
    <!-- <li class="nav-outdoors" role="menuitem"><a href="{{site.baseurl}}tag/outdoors/">Outdoors</a></li> -->
    <li class="nav-bucket-list" id="av-bucket-list" role="menuitem"><a href="{{site.baseurl}}bucket_list/">Bucket List</a></li>
</ul>
